In [10]:
import pandas as pd
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
import re

In [11]:
df = DataExtractor()
df = df.read_pdf_data('https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf')

c:\Users\harde\Miniconda3\envs\retail\Lib\site-packages\tabula\io.py:1057: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

In [12]:
print(df)

         card_number expiry_date                card_provider  \
0     30060773296197       09/26  Diners Club / Carte Blanche
1    349624180933183       10/23             American Express
2   3529023891650490       06/23                 JCB 16 digit
3    213142929492281       09/27                 JCB 15 digit
4       502067329974       10/25                      Maestro
..               ...         ...                          ...
14   180036921556789       12/28                 JCB 15 digit
15   180018030448512       11/24                 JCB 15 digit
16  3569953313547220       04/24                 JCB 16 digit
17  4444521712606810       06/27                VISA 16 digit
18   372031786522735       02/30             American Express

   date_payment_confirmed
0              2015-11-25
1              2001-06-18
2              2000-12-26
3              2011-02-12
4              1997-03-13
..                    ...
14             1997-06-06
15             2004-06-16
16             2020-02-05
17             2008-06-16
18             2009-02-04

[15309 rows x 4 columns]

In [13]:
df.shape
df.info()
df.isnull().sum() * 100 / len(df)

<class 'pandas.core.frame.DataFrame'>
Index: 15309 entries, 0 to 18
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  object
 1   expiry_date             15309 non-null  object
 2   card_provider           15309 non-null  object
 3   date_payment_confirmed  15309 non-null  object
dtypes: object(4)
memory usage: 598.0+ KB

card_number               0.0
expiry_date               0.0
card_provider             0.0
date_payment_confirmed    0.0
dtype: float64

In [14]:
df.to_csv(r"C:\Users\harde\Documents\AiCore\Multinational Retail Data Centralisation/card_details.csv", index=False)

In [15]:
df.dropna(how='any',axis=0)

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13
...,...,...,...,...
14,180036921556789,12/28,JCB 15 digit,1997-06-06
15,180018030448512,11/24,JCB 15 digit,2004-06-16
16,3569953313547220,04/24,JCB 16 digit,2020-02-05
17,4444521712606810,06/27,VISA 16 digit,2008-06-16
18,372031786522735,02/30,American Express,2009-02-04

In [16]:
df['expiry_date'] = pd.to_datetime(df['expiry_date'], format='%m/%y', errors='coerce')  
df.dropna(subset=['expiry_date'], inplace=True) 

df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 18
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  object
 1   expiry_date             15284 non-null  datetime64[ns]
 2   card_provider           15284 non-null  object
 3   date_payment_confirmed  15284 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 597.0+ KB

In [17]:
df['card_number'] = df['card_number'].replace(r'\?', '', regex=True)
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 18
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  object
 1   expiry_date             15284 non-null  datetime64[ns]
 2   card_provider           15284 non-null  object
 3   date_payment_confirmed  15284 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 597.0+ KB

In [18]:
local_connector = DatabaseConnector('sales_data.yaml')
local_connector.upload_to_db(df, 'dim_card_details')