In [1]:
from data_extraction import DataExtractor
from database_utils import DatabaseConnector
import pandas as pd
events = DataExtractor()

In [2]:
events = DataExtractor()
events.extract_from_s3_json('data-handling-public', 'date_details.json')

,timestamp,month,year,day,time_period,date_uuid
0,22:00:06,9,2012,19,Evening,3b7ca996-37f9-433f-b6d0-ce8391b615ad
1,22:44:06,2,1997,10,Evening,adc86836-6c35-49ca-bb0d-65b6507a00fa
2,10:05:37,4,1994,15,Morning,5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3,17:29:27,11,2001,6,Midday,1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4,22:40:33,12,2015,31,Evening,dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44
...,...,...,...,...,...,...
120156,22:56:56,11,2022,12,Evening,d6c4fb31-720d-4e94-aa6b-dcbcb85f2bb7
120157,18:25:20,5,1997,31,Evening,f7722027-1aae-49c3-8f8d-853e93f9f3e6
120158,18:21:40,9,2011,13,Evening,4a3b9851-52e1-463c-ac81-1960f141444e
120159,19:10:53,7,2013,12,Evening,64974909-0d4b-42a2-822a-73b5695e8bfb
120160,21:17:12,3,2008,18,Evening,55c228c7-14ee-4d46-99a9-01dfc57d1adf

In [3]:
df = events.extract_from_s3_json('data-handling-public', 'date_details.json')

df.info()
df.shape

df.isnull().sum() * 100 / len(df)

<class 'pandas.core.frame.DataFrame'>
Index: 120161 entries, 0 to 120160
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   timestamp    120161 non-null  object
 1   month        120161 non-null  object
 2   year         120161 non-null  object
 3   day          120161 non-null  object
 4   time_period  120161 non-null  object
 5   date_uuid    120161 non-null  object
dtypes: object(6)
memory usage: 6.4+ MB

timestamp      0.0
month          0.0
year           0.0
day            0.0
time_period    0.0
date_uuid      0.0
dtype: float64

In [4]:
df['month'].value_counts()

month
7             10284
1             10249
8             10225
5             10150
10            10130
12            10119
3             10119
6              9965
11             9867
4              9755
9              9752
2              9508
NULL             15
9P3C0WBWTU        1
W6FT760O2B        1
DOIR43VTCM        1
FA8KD82QH3        1
ZRH2YT3FR8        1
03T414PVFI        1
FNPZFYI489        1
67RMH5U2R6        1
J9VQLERJQO        1
2VZEREEIKB        1
K9ZN06ZS1X        1
SAT4V9O2DL        1
EB8VJHYZLE        1
22JSMNGJCU        1
4FHLELF101        1
DGQAH7M1HQ        1
3ZZ5UCZR5D        1
YULO5U0ZAM        1
LZLLPZ0ZUA        1
NF46JOZMTA        1
9GN4VIO5A8        1
1YMRDJNU2T        1
GYSATSCN88        1
Name: count, dtype: int64

In [5]:
df['month'] = pd.to_numeric(df['month'], errors='coerce')
df.dropna(subset=['month'], inplace=True)
print(df['month'].value_counts())
print(df.shape)

month
7.0     10284
1.0     10249
8.0     10225
5.0     10150
10.0    10130
12.0    10119
3.0     10119
6.0      9965
11.0     9867
4.0      9755
9.0      9752
2.0      9508
Name: count, dtype: int64
(120123, 6)

In [6]:
df['month'] = pd.to_datetime(df['month'],format='%m').dt.month_name().str.slice(stop=3)
df.dropna(subset=['month'], inplace=True)
print(df['month'].value_counts())
print(df.shape)

month
Jul    10284
Jan    10249
Aug    10225
May    10150
Oct    10130
Dec    10119
Mar    10119
Jun     9965
Nov     9867
Apr     9755
Sep     9752
Feb     9508
Name: count, dtype: int64
(120123, 6)

In [7]:
df['year'] = pd.to_numeric(df['year'], errors='coerce')
df.dropna(subset=['year'], inplace=True)
print(df['year'].value_counts())
print(df.shape)

year
1998    4102
2017    4082
2003    4082
2005    4074
2015    4055
1997    4044
2014    4039
2004    4037
2006    4033
2000    4026
2018    4024
1996    4024
2001    4023
1994    4021
2019    4019
1999    4009
2007    4008
2010    4006
2009    4002
2012    3994
2020    3991
2021    3984
2011    3972
2016    3963
2008    3961
1995    3952
2002    3927
1993    3876
2013    3831
2022    3516
1992     446
Name: count, dtype: int64
(120123, 6)

In [8]:
df['day'] = pd.to_numeric(df['day'], errors='coerce')
df.dropna(subset=['day'], inplace=True)
print(df['day'].value_counts())
print(df.shape)

day
15    4061
20    4044
5     4041
21    4014
3     4004
26    3991
7     3989
16    3989
13    3980
22    3976
10    3967
6     3965
27    3965
1     3961
23    3952
8     3945
9     3941
18    3936
12    3932
17    3915
2     3915
11    3913
19    3884
14    3881
4     3866
24    3852
28    3817
25    3816
29    3641
30    3602
31    2368
Name: count, dtype: int64
(120123, 6)

In [9]:
df['time_period'].value_counts()

time_period
Evening       78227
Midday        23936
Morning       12038
Late_Hours     5922
Name: count, dtype: int64

In [10]:
local_connector = DatabaseConnector('sales_data.yaml')
local_connector.upload_to_db(df, 'dim_date_times')