In [1]:
import pandas as pd
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning

In [4]:
rds_connector = DatabaseConnector('db_creds.yaml')
local_connector = DatabaseConnector('sales_data.yaml')

In [5]:
df = DataExtractor.read_rds_tables(rds_connector.engine)

In [4]:
print(df)

       index first_name last_name date_of_birth                       company  \
0          0   Sigfried     Noack    1990-09-30            Heydrich Junitz KG
1          1        Guy     Allen    1940-12-01                       Fox Ltd
2          2      Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3          3     Darren   Hussain    1972-09-23                   Wheeler LLC
4          4      Garry     Stone    1952-12-20                    Warner Inc
...      ...        ...       ...           ...                           ...
15315  14913    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316  14994    Stephen     Smith    1948-08-20               Robinson-Harris
15317  15012    Stephen  Losekann    1940-10-09                       Rosenow
15318  15269    Stephen    Rivera    1952-06-04         Taylor, Fry and Jones
15319   1249    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
0                 rudi79@winkler.de
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
...                             ...
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15317          s.losekann@smith.com
15318            s.rivera@smith.com
15319            s.duncan@smith.com

                                                 address         country  \
0                           Zimmerstr. 1/0\n59015 Gießen         Germany
1      Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                     92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3                 19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4                  3 White pass\nHunterborough\nNN96 4UE  United Kingdom
...                                                  ...             ...
15315     Studio 41I\nJones lodge\nOliviaborough\nE8 3DU  United Kingdom
15316              530 Young parkway\nMillsfurt\nL4G 7NX  United Kingdom
15317  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany
15318   660 Ross Falls Suite 357\nAnthonymouth, MA 09610   United States
15319     Studio 4\nHancock road\nPhillipsview\nST1X 3XB  United Kingdom

      country_code       phone_number   join_date  \
0               DE   +49(0) 047905356  2018-10-10
1               GB    (0161) 496 0674  2001-12-20
2               GB  +44(0)121 4960340  2016-12-16
3               GB    (0306) 999 0871  2004-02-23
4               GB      0121 496 0225  2006-09-01
...            ...                ...         ...
15315           GB    +44(0)292018946  2016-04-15
15316           GB   +44(0)1144960977  2020-07-20
15317           DE        02984 08192  2021-03-07
15318           US       239.711.3836  2011-01-03
15319           GB   +44(0)1314960870  2015-08-28

                                  user_uuid
0      93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2      fc461df4-b919-48b2-909e-55c95a03fe6b
3      6104719f-ef14-4b09-bf04-fb0c4620acb0
4      9523a6d3-b2dd-4670-a51a-36aebc89f579
...                                     ...
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316  d234c04b-c07c-46a5-a902-526f91478ecc
15317  1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

[15320 rows x 12 columns]

### Data Cleaning - User Data
- Understand the shape and types of data (change if necessary).
- Begin cleaning the user data, look out for NULL values, errors with dates, incorrectly typed values and rows filled with the wrong information.

In [5]:
print(df.shape)
print(df.info())

(15320, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB
None

In [6]:
print(df['country_code'].value_counts())

country_code
GB            9365
DE            4708
US            1205
NULL            21
GGB              6
5D74J6FPFJ       1
XPVCZE2L8B       1
QREF9WLI2A       1
XKI9UXSCZ1       1
RVRFD92E48       1
IM8MN1L9MJ       1
LZGTB0T5Z7       1
FB13AKRI21       1
OS2P9CMHR6       1
NTCGYW8LVC       1
PG8MOC0UZI       1
0CU6LW3NKB       1
QVUW9JSKY3       1
VSM4IZ4EL3       1
44YAIDY048       1
Name: count, dtype: int64

In [7]:
clean_df = DataCleaning()

clean_df.drop_nulls(df)

In [7]:
df['country_code'] = df['country_code'].replace(['GGB'], 'GB')

In [8]:
search = ['GB','US', 'DE']
df = df[df['country_code'].isin(search)]
print(df['country_code'].value_counts())

country_code
GB    9371
DE    4708
US    1205
Name: count, dtype: int64

In [9]:
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], errors='coerce')  

df['join_date'] = pd.to_datetime(df['join_date'], errors='coerce')  

print(df.shape)
print(df.info())

(15284, 12)
<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15284 non-null  int64
 1   first_name     15284 non-null  object
 2   last_name      15284 non-null  object
 3   date_of_birth  15257 non-null  datetime64[ns]
 4   company        15284 non-null  object
 5   email_address  15284 non-null  object
 6   address        15284 non-null  object
 7   country        15284 non-null  object
 8   country_code   15284 non-null  object
 9   phone_number   15284 non-null  object
 10  join_date      15261 non-null  datetime64[ns]
 11  user_uuid      15284 non-null  object
dtypes: datetime64[ns](2), int64(1), object(9)
memory usage: 1.5+ MB
None

In [10]:
df['phone_number'] = df['phone_number'].str.replace(r'\D+', '', regex=True).astype('float')
df['phone_number'] = pd.to_numeric(df['phone_number'], errors='coerce')  
df.dropna(subset=['phone_number'], inplace=True)

print(df.shape)
print(df.info())

(15284, 12)
<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15284 non-null  int64
 1   first_name     15284 non-null  object
 2   last_name      15284 non-null  object
 3   date_of_birth  15257 non-null  datetime64[ns]
 4   company        15284 non-null  object
 5   email_address  15284 non-null  object
 6   address        15284 non-null  object
 7   country        15284 non-null  object
 8   country_code   15284 non-null  object
 9   phone_number   15284 non-null  float64
 10  join_date      15261 non-null  datetime64[ns]
 11  user_uuid      15284 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(8)
memory usage: 1.5+ MB
None

In [11]:
local_connector.upload_to_db(df, 'dim_users')