In [59]:
from data_extraction import DataExtractor
from database_utils import DatabaseConnector
import pandas as pd
stores = DataExtractor()

In [60]:
header = {'x-api-key ':'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'}

url = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'

In [61]:
stores.list_number_of_stores(url, header)

'There are 451 stores'

In [62]:
endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details'
df = stores.retrieve_stores_data(endpoint, header)

In [63]:
df

,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [64]:
search = ['GB','US', 'DE']
df = df[df['country_code'].isin(search)]

In [65]:
df['country_code'].value_counts()

country_code
GB    266
DE    141
US     34
Name: count, dtype: int64

In [66]:
df['opening_date'].value_counts()

opening_date
2004-01-23     3
2011-03-27     2
1998-09-29     2
2014-05-21     2
2006-10-03     2
              ..
2005-08-01     1
May 2003 27    1
1997-02-07     1
2003-04-07     1
2001-05-12     1
Name: count, Length: 432, dtype: int64

In [67]:
df.info

<bound method DataFrame.info of      index                                            address longitude   lat  \
0        0                                                N/A       N/A   N/A
1        1  Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...  51.62907  None
2        2        Heckerstraße 4/5\n50491 Säckingen, Landshut  48.52961  None
3        3  5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury     51.26  None
4        4  Studio 6\nStephen landing\nSouth Simon\nB77 2W...   53.0233  None
..     ...                                                ...       ...   ...
445    445  Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...  50.76306  None
446    446    Täschestraße 25\n39039 Nördlingen, Kirchlengern      52.2  None
448    448  Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...  51.62907  None
449    449               Baumplatz 6\n80114 Kötzting, Bretten  49.03685  None
450    450  Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...  50.64336  None

         locality    store_code staff_numbers opening_date   store_type  \
0             N/A  WEB-1388012W           325   2010-06-12   Web Portal
1    High Wycombe   HI-9B97EE4E            34   1996-10-25        Local
2        Landshut   LA-0772C7B9            92   2013-04-12  Super Store
3        Westbury   WE-1DE82CEE            69   2014-01-02  Super Store
4          Belper   BE-18074576            35   2019-09-09        Local
..            ...           ...           ...          ...          ...
445         Cowes   CO-473A9FBB            94   2008-06-08  Super Store
446  Kirchlengern   KI-78096E8C            61   2005-05-12  Super Store
448  High Wycombe   HI-EEA7AE62            33   1998-05-14        Local
449       Bretten   BR-662EC74C            35   2020-10-17        Local
450    Bad Honnef   BA-B4AED588            36   2001-05-12        Local

     latitude country_code continent
0        None           GB    Europe
1    -0.74934           GB    Europe
2    12.16179           DE    Europe
3     -2.1875           GB    Europe
4    -1.48119           GB    Europe
..        ...          ...       ...
445  -1.29772           GB    Europe
446   8.63333           DE    Europe
448  -0.74934           GB    Europe
449   8.70745           DE    Europe
450    7.2278           DE  eeEurope

[441 rows x 12 columns]>

In [68]:
df['opening_date'] = pd.to_datetime(df['opening_date'], format = 'mixed')

C:\Users\harde\AppData\Local\Temp\ipykernel_16372\3475615636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['opening_date'] = pd.to_datetime(df['opening_date'], format = 'mixed')

In [69]:
df['opening_date'].value_counts()

opening_date
2004-01-23    3
2014-05-21    2
1998-12-19    2
1998-09-29    2
2006-10-03    2
             ..
2006-02-20    1
2005-08-01    1
2003-05-27    1
1997-02-07    1
2001-05-12    1
Name: count, Length: 431, dtype: int64

In [70]:
df['staff_numbers'] = pd.to_numeric(df['staff_numbers'], errors='coerce')

C:\Users\harde\AppData\Local\Temp\ipykernel_16372\936312507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['staff_numbers'] = pd.to_numeric(df['staff_numbers'], errors='coerce')

In [71]:
local_connector = DatabaseConnector('sales_data.yaml')
local_connector.upload_to_db(df, 'dim_store_details')